
/*---------------
     Layout
---------------*/

#categories{
  display: grid;
  margin: 10vw 5vw;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 100px);
  grid-gap: 5vw;
  grid-template-areas:  "simul     simul     simul     simul     cred-pro   cred-pro"
                        "simul     simul     simul     simul     cred-pro   cred-pro"
                        "conseil   conseil   assu-empr assu-empr cred-pro   cred-pro"
                        "conseil   conseil   assu-empr assu-empr cred-immo  cred-immo"
                        "conseil   conseil   assu-empr assu-empr cred-immo  cred-immo"
                        "twi twi lin lin cred-immo  cred-immo"
                        "twi       twi       lin       lin       formation        formation"
                        "twi       twi       lin       lin       formation        formation";
}

.sec-simul{      grid-area: simul;}
.sec-cred-pro{   grid-area: cred-pro;}
.sec-conseil{    grid-area: conseil;}
.sec-assu-empr{  grid-area: assu-empr;}
.sec-cred-immo{  grid-area: cred-immo;}
.sec-formation{  grid-area: formation}
.media-twi{      grid-area: twi;}
.media-lin{      grid-area: lin;}



html{
  font-family: "calibri";
}





/*---------------
    General
---------------*/

section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(237, 237, 237, 0.5);
  border: 1px solid #000;
}

.section-name{
  color: #C79400
}

.description, .section-name{
  text-align: center;
  margin: 0 10%;
}





/*---------------
    selector
---------------*/
.selecteur{
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
}

.selecteur>*{
  flex-grow: 1;
}

select{
  background: #FFC400;
  padding: 1em;

}

.button-simul{
  padding: 1em;
}





/*---------------
    media query
---------------*/

@media screen and (max-width: 768px) {

  #categories{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 150px);
    grid-template-areas:  "simul"
                          "simul"
                          "cred-pro"
                          "conseil"
                          "assu-empr"
                          "formation"
                          "cred-immo"
                          "twi"
                          "twi"
                          "lin"
                          "lin";
  }
}
