*{
  margin: 0;
  padding: 0;
}
/*barre de nav*/

nav{
background-color:rgba(255,255,255,0.6);
  top: 5%;
  width: 90%;
  height: 110px;
  left: 5%;
  position: absolute;
}
.fa-wordpress{
  margin-top: 30px;
}

nav #menuSlide{
  margin-top: -55px;
}
.logop{
  margin-top: 25px;
  font-size: 60px;
}

#menuSlide, #menuSlide ul{
padding:0;
list-style:none;
text-align:center;
}
#menuSlide li{
display:inline-block;
position:relative;

}

#menuSlide ul li{
display:inherit;
background-color: rgba(255,255,255,0.6);
}

#menuSlide ul{
position:absolute;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .5s all .2s;
-webkit-transition: .5s all .2s;
transition: .5s all .2s;
}
#menuSlide li:hover ul{
max-height:15em;
}


/* background des liens menus et sous menus au survol */
#menuSlide li:hover{
background-color: rgba(255,255,255,0.8);
border-bottom: 2px solid #c79400;
}

#menuSlide li li:hover{
  background-color: #c79400;
  border-bottom: 0px;
}

/* les a href */
#menuSlide a{
text-decoration:none;
display:block;
padding:8px 15px;
color:black;
font-family:"calibri";
font-size: 16px;
}

#menuSlide ul a{
padding:8px 0;
}

#menuSlide li:hover li a{
color:black;
text-transform:inherit;
}
