html{
	font-size: 62.5%;
}
.progression{
  display: flex;
  justify-content: center;
}

.form-container{
	margin: auto;
	width: 60%
}

.bulle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(207, 207, 207);
  margin: 10px;
}
.actuel{
  background-color: rgb(245, 207, 9);
}
.etape{
  text-align: center;
  padding-top: 16px;
	font-size: 1.6rem;
}
.formulaire{
  text-align: center;
  box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14);
  background-color: #f1f1f1;
	padding: 20px 20px;
}
.bande{
    background-color: #F68121;
    padding: 10px 0 10px 100px;
		margin-top: 250px;
		font-size: 3.5rem;
}
.envoi{
  background-color: #002366;
	color: white;
  padding: 10px;
  border-radius: 20px;
	font-size: 3rem;
	margin: 0 auto;
}
input.line{
  border-color: #002366;

	text-align: center;
	font-size: 2.2rem;
	width: 100%;
	margin-bottom: 5px;
}
.mrmme{
	background-color: inherit;
	justify-content: center;
	border-color: #002366;
	font-size: 2.2rem;
}
label{
	font-size: 2.5rem;
}
.option{
	font-size: 2rem;
}
.ui-menu-item{
	background-color: white;
	text-align: center;
	width: 50%;
}
.ui-menu-item:hover{
	cursor: pointer;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #CFCFCF inset;
}
.textarea{
	resize: none;
	border-color: #002366;
}
#comptepro1{
	font-size: 15px;
}
#comptepro2{
	font-size: 15px;
}
#compteimmo1{
	font-size: 15px;
}
#compteimmo2{
	font-size: 15px;
}
#assurer1{
	display: none;
}
#assurer2{
	display: none;
}

.fieldform{
	margin-bottom: 20px;
	border-color: #002366;
}
.fieldassurer{
	width: 100%;
}
.infoassurer{
	display: flex;
}
.bandeaufile{
	font-size: 4rem;
	color: white;
	background-color: #002366;
}
.file{
	font-size: 2rem;
}
#formassupart2{
	display: none;
}
#formassupart3{
	display: none;
}

#finform{
	display: none;
}
#formpropart2{
	display: none;
}
#formpropart3{
	display: none;
}
#formpropart4{
	display: none;
}
#formpropart5{
	display: none;
}
#formimmopart2{
	display: none;
}
#formimmopart3{
	display: none;
}
#formprestapart2{
	display: none;
}
