*{
  margin: 0;
  padding: 0;
}



#hamburger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    vertical-align: top;
    padding: 0;
    line-height: 47px;
    float: right;
    margin-right: 32px;
}


@media screen and (max-width: 768px) {

    #hamburger-button{
        display: block;
    }




#hamburger-button{
  position: relative;
  display: block;
  cursor: pointer;
  width: 35px;
  height: 50px;
}

#hamburger-button::after{
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 0;
  left: 10px;
  box-shadow: 0 10px 0 1px black,
              0 16px 0 1px black,
              0 22px 0 1px black;
}

.cache--burger{
  display: none;
}
nav{
  position: absolute;
  width:250px;
  top:0;
  left: 0;
  height: 0;
  bottom: 0;
  border: 1px solid black;
  background-color: white;
}

.navBurger ul{
  list-style:none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navBurger ul li{
  padding-left: 15px;
  margin-top: 15px;
}
.menuBurger a {
  text-decoration: none;
  color: black;
}
}
