*{
  margin: 0;
  padding: 0;
}



/*body *{
  border: 1px solid black;
}*/

nav{
background-color:rgba(255,255,255,1);
  top: 5%;
  width: 80%;
  height: 16vh;
  left: 10%;
  z-index: 100;
}
.fa-wordpress{
  font-size:  5vw;
  margin-top: 30px;
}
body .first{
  z-index: 3;
  position: absolute;
  font-size: 20vw;
  top: 30vh;
  left: 40vw;
}
nav #menuSlide{
  margin-top: -55px;

}
.logop{
  margin-top: 25px;
}
.info{
  width: 100%;
  height: 10vh;
  background-color: grey;

}
#menuSlide, #menuSlide ul{
padding:0;

list-style:none;
text-align:center;
}
#menuSlide li{
display:inline-block;
position:relative;
}
#menuSlide ul li{
display:inherit;
background-color: rgba(255,255,255,0.6);
}

#menuSlide ul{
position:absolute;
/*z-index: 1000;*/
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .5s all .2s;
-webkit-transition: .5s all .2s;
transition: .5s all .2s;
}
#menuSlide li:hover ul{
max-height:15em;
}


/* background des liens menus et sous menus au survol */
#menuSlide li:hover{
background-color: rgba(255,255,255,0.8);
border-bottom: 2px solid #c79400;
}

#menuSlide li li:hover{
  background-color: #c79400;
}
/* les a href */
#menuSlide a{
text-decoration:none;
display:block;
padding:8px 1vh;
color:black;
font-family:"calibri";
font-size: 16px;
}
@media screen and (min-width: 768px) {
  #menuSlide a {
    font-size: calc(9.5px + 6 * ((100vw - 768px) / 292));
  }
}
@media screen and (min-width: 1060px) {
  #menuSlide a {
    font-size: 16px;
  }
}
#menuSlide ul a{
padding:8px 0;
}
#menuSlide li:hover li a{
color:black;
text-transform:inherit;
}

/* ==== Carrousel ==== */

.slider {
    display: block;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.slide {
    position: absolute;
    display: block;
    width: 100vw;
    height: calc(100vh - 50px);
    animation: slide 10s infinite;
    overflow: hidden;
    z-index: 99;
}


.slide:nth-child(1) {
    left: 0%;
    animation-delay: -0.5s;
    background-image: url(../img/index.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(2) {
    left: 100%;
    animation-delay: 2s;
    background-image: url(../img/img3.png);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(3) {
    left: 100%;
    animation-delay: 4.5s;
    background-image: url(../img/index.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(4) {
    left: 100%;
    animation-delay: 7s;
    background-image: url(../img/img3.png);
    background-size: cover;
    background-position: center;
}


@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }
    5% {
        left: 0%;
    }
    25% {
        left: 0%;
    }
    30% {
        left: -100%;
        width: 100%;
    }
    31% {
        left: -100%;
        width: 0%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}


/*contact rapide*/

.fa-mobile-alt{
font-size: 50px;
margin-left: 5px;
height: 50px;
}
form{
  display: flex;
  flex-direction: column;
}
.text{
  height: 370px;
  line-height: 20px;
  text-align: center;
  margin-left: 10px;
  width: 250px;
  padding: 10px;
  border: 2px solid black;
  background-color: white;
}
textarea{
  overflow: auto;
}
 .tel{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: fixed;
  top: 30vh;
  right: 0px;
}

.cache{
  display: none;
}
