/* ==== Master ==== */

*{
  margin: 0;
  padding: 0;
}

h2{
  font-size: 35px;
  margin-bottom: 70px;
  text-align: center;
  color: #C79400;
}

/* ==== Body ==== */

.propos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.presentation, .engagements, .valeurs{
  background-color: #EDEDED;
  width: 300px;
  padding: 50px;
  margin: 50px 0;
  min-width: 250px;
  text-align: justify;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px){
  article{
    display: flex;
    flex-direction: column;
  }
}
