/* ==== Master ==== */
html{
}

a{
  text-decoration: none;
  color: #111111;
  font-size: 14px;
}

h3{
  font-size: 28px;
}

li{
  list-style-type: none;
}

/* ==== Footer ==== */

footer{
  left: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #EDEDED;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.legal{
  height: 50px;
  width: 100%;
  background-color: #BBBBBB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legal p{
  margin: 10px;
}

.fa-twitter, .fa-linkedin-in{
  padding: 5px;
}

.accueil, .valeursur, .prestation, .simulateurs{
  min-width: 300px;
  min-height: 200px;
}
