*{
  margin: 0px;
  padding: 0px;
}

h2{
  color: #C79400;
  margin-bottom: 50px;
}

.prestations{
  margin: 30px;
  padding: 80px;
  background-color: #EDEDED;
  border: 1px solid black;
  text-align: center;
}
