/* ==== Master ==== */

*{
* {
  margin: 0;
  padding: 0;
}

h2{
h2 {
  font-size: 35px;
  margin-bottom: 70px;
  text-align: center;
  color: #C79400;
}

ul {
  margin-left: 50px;
}

/* ==== Body ==== */

.propos{
.propos {
  margin-top: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.presentation, .engagements, .valeurs{
  background-color: #EDEDED;
/* ==== presentation ==== */

.presentation h4 {
  color: #C79400;
  text-align: center;
}

.presentation img {
  height: 250px;
  width: 200px;
  margin-bottom: 50px;
  align-self: center;
}

.engagements img {
  height: 250px;
  width: 300px;
  margin-bottom: 50px;
  align-self: center;
}

.valeurs img {
  height: 250px;
  width: 400px;
  margin-bottom: 50px;
  align-self: center;
}

.gold_txt {
  color: #C79400;
}

.presentation, .engagements, .valeurs {
  background-color: #EDEDED;
  width: 80%;
  padding: 50px;
  margin: 50px 0;
  margin: 50px auto;
  min-width: 250px;
  text-align: justify;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.presentation:hover, .engagements:hover, .valeurs:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
.presentation:hover, .engagements:hover, .valeurs:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px){
  article{
@media screen and (max-width: 768px) {
  article {
    display: flex;
    flex-direction: column;
  }
