/* ==== Master ==== */
h2 {
  font-size: 35px;
  margin-bottom: 70px;
  text-align: center;
  color: #002366;
}

ul {
  margin-left: 50px;
}

/* ==== Body ==== */

.propos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 100px 0;
}

/* ==== presentation ==== */

.presentation h4 {
  color: #C79400;
  text-align: center;
}

.presentation img {
  height: 250px;
  width: 200px;
  margin-bottom: 50px;
  align-self: center;
}

.engagements img {
  height: 250px;
  width: 300px;
  margin-bottom: 50px;
  align-self: center;
}

.valeurs img {
  height: 250px;
  width: 400px;
  margin-bottom: 50px;
  align-self: center;
}

.gold_txt {
  color: #C79400;
  font-weight: bold;
}

.presentation, .engagements, .valeurs {
  position: relative;
  background-color: #EDEDED;
  width: 80%;
  padding: 50px;
  min-width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.presentation:hover, .engagements:hover, .valeurs:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.bg1{
  background-image: url(../img/gold_egg.jpg);
}

.bg2{
  background-image: url(../img/credis.jpg);
}

.bg3{
  background-image: url(../img/up.jpg);
}


.bg1, .bg2, .bg3{

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 250px;
}

.bg-section{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 0.2;

  z-index: 0;

}

.content{
  z-index: 1;
}

.divider-item{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  height: 250px;
}

 .egg{
   display: block;
   width: 126px;
   height: 180px;
   transform: scale(0.5);
}

.divider-line{
  height: 1px;
  width: 40%;
  background-color: #C79400;
}
