input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
}

input[type=text]:focus {
    border: 1px solid #555;
}

textarea{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  resize: none;
  border: 1px solid black;
}

textarea:focus{
  border: 1px solid #555;
}
textarea, input{
  box-sizing: border-box;
}


body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

main{
  flex:1;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 10px;
}


.formulaire-contact{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  background-color: #EDEDED;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14);
  text-align: center;
  margin: 0 20px;
  max-width: 960px;
}

.form{
  width: 40%;
  min-width: 280px;
  padding: 1.5rem;
}

.contact-coord{
  width: 40%;
  min-width: 280px;
  padding: 1rem;
}
