body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 980px;
}
