/* ==== Master ==== */
html{
}

.accueil a, .valeursur a, .prestation a, .simulateurs a, .legal a{
  text-decoration: none;
  color: #111111;
  font-size: 14px;
}

h3{
  font-size: 28px;
}

footer li{
  list-style-type: none;
  padding-bottom: 0.3em;
}

/* ==== Footer ==== */

footer{
  margin-top: 100px;
  left: 0;
  width: 100%;
  background: #EDEDED;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.legal{
  height: 50px;
  width: 100%;
  background-color: #BBBBBB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legal p{
  margin: 10px;
}

.fa-twitter, .fa-linkedin-in{
  padding: 5px;
}

.accueil, .valeursur, .prestation, .simulateurs{
  width: 200px;
  min-height: 200px;
}
