/*---------------
     Layout
---------------*/

#categories {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

/*---------------
    General
---------------*/

html {
  font-family: "calibri";
  min-width: 350px;
  background-color: #f8f8f8;
}

section {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #bbb;
  height: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

section:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.section-name {
  font-size: 2.5vw;
  color: #002366;
  text-align: center;
}

.description {
  text-align: justify;
  color: #000 !important;
}

.description,
.section-name {
  margin: 0 10%;
}

.LI-profile-badge {
  margin: auto;
}

.media-twi,
.media-lin {
  overflow: hidden;
}

/*---------------
    selector
---------------*/

.selecteur {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
}

.selecteur>* {
  flex-grow: 1;
}

select {
  background: #ffc400;
  padding: 1em;
}

.button-simul {
  padding: 1em;
}

.show--hover {
  transform: translate3d(0, 900%, 0);
  transition: all 0.5s ease-out;
}

section:hover .show--hover {
  transform: translate3d(0, 0, 0);
}

main {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.intro {
  width: 80vw;
  margin: 50px 0;
  text-align: justify;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14);
  background-color: #bbb;
  border: 1px solid #bbb;
  max-width: 1000px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.intro:hover {
  box-shadow: 0 16px 23px 3px rgba(0, 0, 0, 0.2);
}

.info-intro {
  background-color: #ededed;
  padding: 1em;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  align-self: stretch;
  border-right: 1px solid #000;
  border-radius: 3px 0 0 3px;
}

.introduction {
  padding: 1em;
  text-align: justify;
  font-size: 18px;
  margin: auto;
  align-self: stretch;
}

.prestations {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 50px;
  background-color: #EDEDED;
  border: 1px solid #bbb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#categories a {
  width: 48%;
  margin-bottom: 50px;
  text-decoration: none !important;
  color: #002366 !important;
}

.bg1 {
  background-image: url(../img/financement-pro.jpg);
}

.bg2 {
  background-image: url(../img/fond1.jpg);
}

.bg3 {
  background-image: url(../img/fond2.jpg);
}

.bg4 {
  background-image: url(../img/conseil-presta.jpg);
}

.bg1,
.bg2,
.bg3,
.bg4 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.bg-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 0;
}
