/*@media*/

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 768px) {
  #categories {
    display: flex;
    flex-direction: column;
  }
  .
  section {
    margin-bottom: 5vw;
    height: 300px;
  }
  .section-name{
    font-size: 2.2em;
  }
  .media-twi {
    height: 500px;
  }
  .intro {
    flex-direction: column;
  }
  .info {
    border-bottom: 1px solid #000;
    border-right: none;
  }
  .show--hover {
    display: block;
  }

  #tel{
    display:none;
  }

  .prestations h2{
    font-size: 2em;
  }


}

@media only screen and (min-width: 601px) {
  nav {
    line-height: 100px !important;
  }
  .first {
    margin-top: calc(100vh + 50px);
  }
}
@media screen and (min-width: 1060px) {

}
@media screen and (max-width: 1200px) {
  .prestations h2{
    font-size: 2.5em;
  }
}
