/*@media*/

@media screen and (min-width: 768px) {
  #menuSlide a {
    font-size: calc(9.5px + 6 * ((100vw - 768px) / 292));
  }
  .cache--burger2 {
    display: none;
  }
  .navBurger2 {
    display: none;
  }
  .cache--burger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #categories {
    display: flex;
    flex-direction: column;
  }
  .barre-burger {
    display: block;
  }
  .fa-mobile-alt {
    font-size: 0;
  }
  section {
    margin-bottom: 5vw;
    height: 300px;
  }
  .section-name{
    font-size: 2.2em;
  }
  .media-twi {
    height: 500px;
  }
  .intro {
    flex-direction: column;
  }
  .info {
    border-bottom: 1px solid #000;
    border-right: none;
  }
  .show--hover {
    display: block;
  }
  #hamburger-button {
    display: block;
    position: absolute;
    top: 5%;
    left: 95%;
    z-index: 9950;
  }
  #hamburger-button {
    position: fixed;
    top: 2%;
    left: 90%;
    z-index: 9950;
    display: block;
    cursor: pointer;
    width: 35px;
    height: 50px;
    outline: none;
  }
  #hamburger-button::after {
    content: '';
    position: relative;
    display: block;
    width: 16px;
    height: 0;
    left: 10px;
    box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
  }
  .cache--burger2 {
    display: none;
  }
  .cache--burger {
    display: none;
  }
  #slider {
    display: none;
  }
}

@media screen and (min-width: 1060px) {
  #menuSlide a {
    font-size: 16px;
  }
}
