@import url('https://fonts.googleapis.com/css?family=Cabin');

html{
  scroll-behavior: smooth;
  min-width: 320px;
}

main{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'cabin', sans-serif;
}

.prestations:last-child{
  margin-bottom: 80px;
}

h2{
  margin-bottom: 50px !important;

  color: #002366;
  font-size: 2em !important;
}


.form-container h3, .info-part h3, .info-part h4{
  text-decoration: underline #C79400;
}

.prestations{
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  border-radius: 3px;
  box-sizing: border-box;
  width: 90%;
  padding: 50px;

  background-color: #EDEDED;

  border: 1px solid #bbb;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  transition: 0.3s;
}

.prestations:hover{
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.25);
}


.intro-projet{
  width: 75%;
  margin-top: 150px;
  padding: 3vw 10vw;

  font-size: 1.5em;
}

.form-container, .info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 auto;

  width: 40%;
  min-width: 300px;
  border-radius: 3px;
}

.form-container{
  padding: 1.5em;

  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.form-container h3{
  padding: 1em;
}

.info-part, .form-container{
  padding: 1.5em
}

.bg1{
  background-image: url(../img/financement-pro.jpg);
}

.bg2{
  background-image: url(../img/fond1.jpg);
}

.bg3{
  background-image: url(../img/fond2.jpg);
}

.bg4{
  background-image: url(../img/conseil-presta.jpg);
}

.bg1, .bg2, .bg3, .bg4{

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 250px;
}

.sub-menu-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  width: 95%;
}

.sub-menu-text{
  text-align: justify;
  color: #000;
}

.sub-menu-item{
  display: flex;
  flex-direction: column;
  justify-self: center;
  flex: 1;

  min-width: 230px;
  height: 600px;

  overflow: hidden;

  border: 1px solid #bbb;

  transition: 0.85s ease-in-out;
}
.sub-menu-item:hover{
  flex: 2.5;
}

.padded-div{
  padding: 15px;
}

.anchor {
  height: 100%;
  text-decoration: none;
}

.section-title{
  height: 100px !important;
  text-align: center;
}


.divider-item{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  height: 250px;
}

 #egg{
   display: block;
   width: 126px;
   height: 180px;
   background-color: #C79400;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;

   box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);

   transform: scale(0.2);
}

.divider-line{
  height: 1px;
  width: 40%;
  background-color: #C79400;
}



.bg-section{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 0.2;

  z-index: 0;
}
