/*contact rapide*/

#valeur--coor {
  text-decoration: underline;
  font-weight: bold;
  color: #002366;
}

textarea {
  overflow: auto;
  resize:none;

}

form {
  display: flex;
  flex-direction: column;
}

.text {
  height: 370px;
  line-height: 20px;
  text-align: center;
  margin-left: 10px;
  width: 250px;
  padding: 10px;
  border: 2px solid #bbb;
  background-color: white;
}

.fa-mobile-alt {
  font-size: 50px;
  margin-left: 5px;
  height: 50px;
}

.tel{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: fixed;
  top: 30vh;
  right: 0px;
  z-index: 1;
}

.cache {
  animation: slideContact 0.7s alternate;
  margin-right: -280px;
}
@keyframes slideContact {
  100%{
    margin-right: -280px;
  }
  50%{
    margin-right::-125px;
  }
  0%{
    margin-right: 0;
  }
}
