/*contact rapide*/

#valeur--coor {
  text-decoration: underline;
  font-weight: bold;
  color: #002366;
}

form {
  display: flex;
  flex-direction: column;
}

.text {
  line-height: 20px;
  text-align: center;
  margin-left: 10px;
  width: 250px;
  padding: 10px;
  border: 2px solid #bbb;
  background-color: white;
  transition:all 0.5s ease;
}

.fa-envelope-square {
  font-size: 50px;
  margin-left: 5px;
  height: 50px;
  color: #002366;
}

.tel{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: fixed;
  top: 16vh;
  right: 0px;
  z-index: 2;
}

.cache {
  margin-right: -255px;
}

#errormsg{
  color: red;
  font-size: 2em;
  text-align: center;
}
