body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto
}


.selecteur{
  width: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}


.tab{
  box-sizing: border-box;
  display: flex;

  overflow: hidden;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;
  border: 1px solid #bbb;
}

.tablinks{
  flex-grow: 1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5em;
  transition: 0.3s;
  min-width: 33%;
}

.tablinks:hover {
  background-color: #bbb;
}

.active{
  background-color: #FFC400;
}

.tabcontent{
  box-sizing: border-box;
  padding: 0.6em;
  border: 1px solid #bbb;
  border-top: none;
  width: 100%;
  height: 250px;
  border-radius: 0 0 5px 5px;
}

.hidden{
  display: none;
}

.central-border{
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
