body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;

  padding: 2em;
}

.sim-text {
  margin-bottom: 50px;
}

.selecteur {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
}

.tab {
  box-sizing: border-box;
  display: flex;

  overflow: hidden;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 3px 3px 0 0;
  border: 1px solid #bbb;
}

.tablinks {
  flex-grow: 1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5em;
  transition: 0.7s;
  min-width: 33%;
}

.tablinks:not(.active):hover {
  background-color: #bbb;
}
.tablinks:focus {
  background-color: #002366 !important;
}

.tab .active {
  letter-spacing: 0.05em;
  color: #fefefe;
  font-weight: bold;
  background-color: #002366;
}

.tabcontent {
  box-sizing: border-box;
  padding: 0.6em;
  border: 1px solid #bbb;
  border-top: none;
  width: 100%;
  height: auto;
  border-radius: 0 0 5px 5px;
}

.hidden {
  display: none;
}

.central-border {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.fauxsimulateur {
  width: inherit;
  height: auto;
}
