.progression{
  display: flex;
  justify-content: center;
}

.textinit{
	font-size: 40px;
}
.choixprojet{
	display: none;
	text-align: center;
  margin-bottom: 50px;
}
.bulle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(207, 207, 207);
  margin: 10px;
}
.actuel{
  background-color: rgb(245, 207, 9);
}
.etape{
  text-align: center;
  padding-top: 16px;
	font-size: 16px;
}
/*
.formulaire{
  text-align: center;
  box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14);
  background-color: #f1f1f1;
	padding: 20px 20px;
}
 */
.bande{
    background-color: #F68121;
    padding: 10px 0 10px 100px;
		margin-top: 250px;
		font-size: 35px;
}
/*
.envoi{
  background-color: #002366;
	color: white;
  padding: 10px;
  border-radius: 20px;
	font-size: 30px;
	margin: 0 auto;
}
.envoi:hover{
	cursor: pointer;
}
*/

input.line{
  border-color: #002366;

	text-align: center;
	font-size: 22px;
	width: 100%;
	margin-bottom: 5px;
}
.mrmme{
	background-color: inherit;
	justify-content: center;
	border-color: #002366;
	font-size: 22px;
}
label{
	font-size: 25px;
}
.option{
	font-size: 20px;
}
.ui-menu-item{
	background-color: white;
	text-align: center;
	width: 50%;
}
.ui-menu-item:hover{
	cursor: pointer;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #CFCFCF inset;
}
.textarea{
	resize: none;
	border-color: #002366;
}
#comptepro1{
	font-size: 15px;
  display: inline-block;
}
#comptepro2{
	font-size: 15px;
  display: inline-block;
}
#compteimmo1{
	font-size: 15px;
  display: inline-block;
}
#compteimmo2{
	font-size: 15px;
  display: inline-block;
}
#assurer1{
	display: none;
}
#assurer2{
	display: none;
}

.fieldform{
	margin-bottom: 20px;
	border-color: #002366;
}
.fieldassurer{
	width: 100%;
  flex: 1 1 250px;
}
.infoassurer{
	display: flex;
  flex-wrap: wrap;
}
.bandeaufile{
	font-size: 40px;
	color: white;
	background-color: #002366;
}
.file{
	font-size: 20px;
  word-break: break-all !important;
  height: auto !important;
}
.initprojet{
	text-align: center;
	margin: 50px 0;
}
.jshide{
	display: none;
  margin-bottom: 50px;
}
#formassupart2{
	display: none;
}
#formassupart3{
	display: none;
}

#finform{
	display: none;
}
#formpropart2{
	display: none;
}
#formpropart3{
	display: none;
}
#formpropart4{
	display: none;
}
#formpropart5{
	display: none;
}
#formimmopart2{
	display: none;
}
#formimmopart3{
	display: none;
}
#formprestapart2{
	display: none;
}
#finformpresta{
	display: none;
}
#finformimmo{
	display: none;
}
#finformassu{
	display: none;
}
#cappro{
  display: none;
}
#capimmo{
  display: none;
}
#cappresta{
  display: none;
}
#capassu{
  display: none;
}

.file-field{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.file-path-wrapper{
  min-width: 250px;
}
.file-button{
  height: auto !important;
}
ul[id^="select-options-"]{
  position: fixed !important;
}
