@import url("https://fonts.googleapis.com/css?family=Cabin");
.titre-carou {
  font-weight: bold !important;
  text-shadow: 1px 2px 3px black;
  font-size: 5em !important;
}

h5 {
  font-weight: 500 !important;
  text-shadow: 1px 1px 2px black;
  font-size: 3em !important;
}

.nav-wrapper {
  background-color: #002366 !important;
}

.navbar-fixed,
nav {
  height: 100px !important;
}

html {
  font-family: "Cabin", sans-serif !important;
}

#carou {
  z-index: 5;
}
.slider .indicators .indicator-item.active {
  background-color: #002366 !important;
}
/*
.nav-wrapper {

}
*/
.logoOeuf {
  height: auto;
  width: 300px;
  margin-left: 10px;
  margin-top: 5px;
}

.nav-lien {
  font-size: 1.1em !important;
}
.right:last-child {
  margin-right: 20px;
}
.caption {
  margin-top: 200px !important;
}

.caption a {
  background-color: #002366 !important;
}

nav ul a:hover {
  background-color: rgba(194, 212, 221, 0.527) !important;
  border-bottom: 3px solid rgb(207, 172, 54);
}
