

html{
  background-color: #f8f8f8;
}

.progression{
  display: flex;
  justify-content: center;
}

.form-container{
	margin: auto;
	width: 50%
}

.bulle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(207, 207, 207);
  margin: 10px;
}
.actuel{
  background-color: rgb(245, 207, 9);
}
.etape{
  text-align: center;
  padding-top: 16px;
	font-size: 16px;
}
.formulaire{
  text-align: center;
  -webkit-box-shadow: 2px 3px 79px 0px rgba(189,189,189,1);
  -moz-box-shadow: 2px 3px 79px 0px rgba(189,189,189,1);
  box-shadow: 2px 3px 2vw 0px rgba(189,189,189,1);
  background-color: rgb(207, 207, 207);
}
.bande{
    background-color: #F68121;
    padding: 10px 0 10px 100px;
		margin-top: 250px;
		font-size: 35px;
}
.envoi{
  background-color: #F68121;
  padding: 10px;
  border-radius: 20px;
	font-size: 30px;
	align-items: center;
}
input.line{
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #F68121;
	text-align: center;
	font-size: 22px;
	width: 100%;
}
.mrmme{
	background-color: inherit;
	justify-content: center;
	border-color: #F68121;
	font-size: 22px;
}
label{
	font-size: 25px;
}
.option{
	font-size: 20px;
}
.ui-menu-item{
	background-color: white;
	text-align: center;
	width: 50%;
}
.ui-menu-item:hover{
	cursor: pointer;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #CFCFCF inset;
}

#formulaire2{
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
}
