*{
  margin: 0;
  padding: 0;
}
/*barre de nav*/

nav{
background-color:rgba(255,255,255,0.6);
  top: 5%;
  width: 90%;
  height: 110px;
  left: 5%;
  position: absolute;
  z-index: 100;
}
.fa-wordpress{
  margin-top: 30px;
}

nav #menuSlide{
  margin-top: -55px;
}
.logop{
  margin-top: 25px;
  font-size: 60px;
}

#menuSlide, #menuSlide ul{
padding:0;
list-style:none;
text-align:center;
}
#menuSlide li{
display:inline-block;
position:relative;

}

#menuSlide ul li{
display:inherit;
background-color: rgba(255,255,255,1);
}

#menuSlide ul{
position:absolute;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .5s all .2s;
-webkit-transition: .5s all .2s;
transition: .5s all .2s;
}
#menuSlide li:hover ul{
max-height:15em;
}

/*barre de nav 2*/

#tailleNav2 {
  position: fixed;
  overflow: auto;
  width: 250px;
  top: 0;
  left: 0;
  height: auto;
  bottom: 0;
  border: 1px solid #bbb;
  background-color: #f8f8f8;
}
#menuSlide2{
  margin-left: 30px;
}
#menuSlide2 li li:hover a{
  background-color: #c79400;
}

.hide-ss-menu{
  display: none;
}
.navBurger2 ul {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.navBurger2 ul li {
  padding-left: 15px;
  margin-top: 15px;
}

.menuBurger2 a {
  text-decoration: none;
  color: black;
}
#logoNav2 {
  margin: 0;
}
#logoNav2 .fa-wordpress{
  font-size: 50px;
  margin: 70px;
}

#hamburger-button {
  z-index: 9950;
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  vertical-align: top;
  padding: 0;
  line-height: 47px;
  margin-right: 32px;
}

/* background des liens menus et sous menus au survol */
#menuSlide li:hover{
background-color: rgba(255,255,255,0.8);
border-bottom: 2px solid #c79400;
}

#menuSlide li li:hover{
  background-color: #c79400;
  border-bottom: 0px;
}

/* les a href */
#menuSlide a{
text-decoration:none;
display:block;
padding:8px 15px;
color:black;
font-family:"calibri";
font-size: 16px;
}

#menuSlide ul a{
padding:8px 0;
}

#menuSlide li:hover li a{
color:black;
text-transform:inherit;
}

.barre-burger{
  top: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100px;
  border: 1px solid #bbb;
  background-color: #ededed;
}
