*{
  margin: 0;
  padding: 0;
}

nav{
background-color: rgba(255,255,255,0.6);
  top: 5%;
  width: 80%;
  height: 15vh;
  left: 10%;
  position: fixed;
  z-index: 100;
}
.fa-wordpress{
  font-size: 80px;
  position: absolute;
  top: 20%;
  left: 5%;
}
body .first{
  z-index: 2;
  position: absolute;
  font-size: 300px;
  top: 30%;
  left: 40%;
}
nav #menuSlide{
  margin-top: 50px;
}
.info{
  width: 100%;
  height: 10vh;
  background-color: grey;
}
#menuSlide, #menuSlide ul{
padding:0;
margin-top: 64px;
list-style:none;
text-align:center;
}
#menuSlide li{
display:inline-block;
position:relative;
}
#menuSlide ul li{
display:inherit;
background-color: rgba(255,255,255,0.6);
}

#menuSlide ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .5s all .2s;
-webkit-transition: .5s all .2s;
transition: .5s all .2s;
}
#menuSlide li:hover ul{
max-height:15em;
}


/* background des liens menus et sous menus au survol */
#menuSlide li:hover{
background-color: rgba(255,255,255,0.8);
border-bottom: 2px solid #c79400;
}

#menuSlide li li:hover{
  background-color: #c79400;
}
/* les a href */
#menuSlide a{
text-decoration:none;
display:block;
padding:8px 32px;
color:black;
font-family:arial;
font-size: 16px;
}

#menuSlide ul a{
padding:8px 0;
}
#menuSlide li:hover li a{
color:black;
text-transform:inherit;
}

/* ==== Carrousel ==== */


div#slider {
   width: 100%;
   margin: auto;
  }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}
div#slider figure img {
  width: 20%;
  height: 75vh;
  float: left;
}
div#slider {
  width: 100%;
  overflow: hidden;

}
@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  30% { left: -100%; }
  40% { left: -100%; }
  50% { left: -200%; }
  60% { left: -200%; }
  70% { left: -300%; }
  80% { left: -300%; }
  90% { left: -400%; }
  100% { left: -400%; }
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 20s slidy infinite;
  animation-direction:normal;
}
/*contact rapide*/

.fa-mobile-alt{
font-size: 50px;
margin-left: 5px;
height: 50px;
}
form{
  display: flex;
  flex-direction: column;
}
.text{
  height: 370px;
  line-height: 20px;
  text-align: center;
  margin-left: 10px;
  width: 250px;
  padding: 10px;
  border: 2px solid black;
}
textarea{
  overflow: auto;
}
 .tel{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: fixed;
  top: 850px;
  right: 0px;
}

.cache{
  display: none;
}
